@charset "utf-8";
/* CSS Document */
body {
	background-color: #FFFFFF;
	background-image: url("LopezPamImages/diagonal-striped-brick.png");
	font-family: 'Poiret One', cursive;
}
h1 {
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 50px;
	font-size: 100px;
	text-align: left;
}
h3 { 
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 2px;
	padding-left: 60px;
	padding-right: 2px;
	width: 290px;
	height: 80px;
	border:double;
	color: #025144;
	font-size: 50px;
}
a {
	color:#025144;
	font-family:'Poiret One', cursive;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 40px;
} 
a:hover {
	background-color: #16AA92; 
	color: #025144; 
	opacity: 0.7;
	transition: all 4s;
	margin-left: 30px;
}
p { 
	font-size: 25px;
}
h2 {
	border: solid;
	width: 70px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	color:#025144;
	border-color: #025144;
	text-align: center;
} 
content { 
	display: flex;
	flex-direction: row; 
	padding-top: 50px;
} 
#instagram { 
	width: 75px; 
}
#facebook { 
	width: 51px;
} 
#twitter { 
	width: 55px;
	padding-left: 15px;
}
#youtube { 
	width: 62px;
	padding-left: 15px;
}