@charset "utf-8";
/* CSS Document */

body {
	background-image: url("diagonal-striped-brick.png");
	background-color: #FFFFFF; 
	font-family:'Poiret One', cursive; 
} 
h1 {
	margin-left: auto; 
	margin-right: auto;
	padding-top: 30px;
	width: 500px;
	height: 50px;
	background-color: #FFFFFF;
	width: 445px;
	padding-left: 45px; 
}
a {
	font-size: 30px;
	text-align: center;
	color:#000000; 
	margin-left: 20px;
	margin-right: 20px;
	text-decoration-line: underline; 
}
nav {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
a:hover { 
background-color:#16AA92;
color: #000000;
opacity: 0.7;
transition: all 4s;
margin-left: 30px;
}
#heart {
	float: right; 
	display: block;
	width: 300px;
}
#instagram { 
	float: left;
	display: block;
	width: 80px; 
	padding-top: 220px; 
}
#facebook { 
	width: 55px;
	padding-top: 224px;
}
#twitter { 
	width: 57px; 
	padding-left: 10px;
}
#youtube { 
	width: 65px;
	padding-left: 10px; 
}